<!--<div class="box">
  <div class="field has-addons">
    <div class="control is-expanded">
      <input class="input has-text-centered" type="search" placeholder="Entrez votre recherche">
    </div>
    <div class="control">
      <a class="button is-info">Rechercher</a>
    </div>
  </div>
</div>-->

<div class="row columns">

<% @posts.each do |post| %>

    <div class="column is-one-third">
      <a href="<%= post_path(post.id) %>">
        <div class="card large">
          <% if post.picture.attached? %>
            <div class="card-image">
              <figure class="image">
                <img src="<%= url_for post.picture %>" alt="Image">
              </figure>
            </div>
          <% end %>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-75x75">
                  <img class="is-rounded" src="https://www.drupal.org/files/issues/default-avatar.png" alt="Image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4 no-padding"><%= post.title %></p>
                <p><span class="title is-6"><%= post.user.name %></span></p>
                <p class="subtitle is-6"><%= post.created_at %></p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>

<% end %>

</div>