<div class="post-title">
  <h2><%= @post.title %></h2>
  <p>Catégorie : <b><%= @post.category.name %></b></p>
  <i>Par <%= @post.user.name %> le <%= @post.created_at %> (dernière édition <%= @post.updated_at %>)</i>
</div>

<p><%= @post.content %></p>