<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', 'https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css' %>
  <%= stylesheet_link_tag 'application', 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">Application</a>
        <span class="navbar-burger burger" data-target="navbarMenu">
          <span></span>
        </span>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <a href="/" class="navbar-item is-active">
            Accueil
          </a>
          <a href="<%= admin_root_path %>" class="navbar-item">
            Administration
          </a>
          <div class="navbar-item has-dropdown is-hoverable">
            <% if current_user %>
              <a class="navbar-link">
                <i class="fa fa-user-circle"></i> <%= current_user.name %>
              </a>
              <div class="navbar-dropdown">
                <a class="navbar-item">
                  Profil
                </a>
                <hr class="navbar-divider">
                <%= link_to('Se déconnecter', destroy_user_session_path, method: :delete, class: 'navbar-item') %>
              </div>
            <% else %>
              <a class="navbar-link">
                <i class="fa fa-user-circle"></i> Mon compte
              </a>
              <div class="navbar-dropdown">
                <a href="<%= new_user_session_path %>" class="navbar-item">Connexion</a>
                <a href="<%= new_user_registration_path %>" class="navbar-item">Créer un compte</a>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="section">
      <%= yield %>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <div class="soc">
          <a href="#"><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
        </div>
        <p>
          <strong>Bulma</strong> by <a href="http://jgthms.com">Jeremy Thomas</a>.
          The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. <br>
        </p>
      </div>
    </div>
  </footer>

</body>
</html>